body {
  font-family: "Open Sans", sans-serif;
  background-color: #0F7D81;
  color: #fafafa;
  max-width: 800px;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 20px;
  align-items: center;
}

.logo img {
  width: 100px;
  margin: 10px;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#builds {
  background-color: white;
  color: #000;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 50px;
  margin: 7px;
}

.changelog span {
    font-size: small;
}

.build .build-header .name {
  user-select: none;
  font-weight: 600;
  cursor: pointer;
}

.build .build-header .name:hover {
  color: #0F7D81;
}

.build .build-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.build .build-header img {
  height: 20px;
  padding-left: 20px;
}

.expandable {
  background-color: #efefef;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.changelog {
  white-space: pre-line;
}

.tag,
.downloads,
.size,
.changelog,
.date {
  font-weight: 600;
}

span {
  font-weight: normal;
}

.downloadbtn {
  width: 100%;
  border: none;
  background-color: #0F7D81;
  height: 35px;
  border-radius: 3px;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.download {
  display: flex;
  margin-top: 30px;
}

.download select {
  border: none;
  background-color: #0F7D81;
  border-radius: 3px;
  height: 35px;
  color: #fff;
  font-weight: 600;
}

#build-mocked {
  display: none;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-bottom: 10px;
}

.credits {
    text-align: center;
    color: #fff;
}
.credits a {
    font-weight: 600;
    color: #fafafa;
    text-decoration: none;
}

.credits a:hover {
    color: #000;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title h5, .title h2 {
    margin: 0px
}